[include]
    path = ~/.gitconfig.local

[core]
    editor = nano
    autocrlf = input

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "status"]
    added = blue
    changed = yellow
    untracked = red

[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = blue

[alias]
    # Short status with branch info
    st = status -sb
    # Colorful log with graph
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Show last commit
    last = log -1 HEAD --stat
    # Unstage files
    unstage = reset HEAD --
    # Amend last commit
    amend = commit --amend --no-edit
    # Show branches with last commit
    br = branch -v
    # Show diff of staged changes
    staged = diff --cached
    # Quick commit
    cm = commit -m
    # Pull with rebase
    up = pull --rebase --autostash
    # Show contributors
    contributors = shortlog -sn
    # Show files in last commit
    files = diff-tree --no-commit-id --name-only -r
    # Show commits not yet pushed
    unpushed = log @{u}..
    # Clean up merged branches (except main/master)
    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d"
    # Quick fixup commit for rebase --autosquash
    fixup = commit --fixup
    # Safer force push (fails if remote has new commits)
    pushf = push --force-with-lease

[diff]
    # Better diff algorithm
    algorithm = histogram
    colorMoved = default

[merge]
    # Show common ancestor in conflicts (zdiff3 removes redundant lines)
    conflictStyle = zdiff3

[pull]
    rebase = false

[init]
    defaultBranch = main

[help]
    # Autocorrect typos after 1 second
    autocorrect = 10

[push]
    default = simple
    followTags = true
    # Auto-track upstream branch on first push
    autoSetupRemote = true

[rebase]
    # Auto-stash before rebase, apply after
    autoStash = true
    # Auto-squash fixup commits when using -i
    autoSquash = true
